.footer {
	margin-top: auto;
}

.footer__logo {
	img {
		max-height: 120px;
		width: auto;
	}
}

.footer__sp {
	text-align: right;
}

.footer-menu {
	@include list-unstyled;
	text-align: center;

	li {
		display: inline-block;

		a {
			display: block;
			padding: 5px 10px;
		}
	}
}

.footer__copy {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: lightgrey;
	font-size: 12px;
	text-align: center;
}

@media screen and (min-width: 642px) and (max-width: 786px) {
	.footer-form button {
		margin-right: unset !important;
	}
}
